body{
    color: lightgreen;
    background: lightcoral;
    margin: 0px;
    font-family: "Playwrite Deutschland Grundschrift Guides", sans-serif;
}

header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: skyblue;
}

section{
    background: rgb(77, 196, 160);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center; 
    font-size: 25px;
}

.chamada-texto{
    margin-right: 5%;
}